USE [master]
GO
/****** Object:  Database [travel]    Script Date: 27-11-2020 08:43:26 PM ******/
CREATE DATABASE [travel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'travel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\travel.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'travel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\travel_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [travel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [travel]
GO
/****** Object:  Table [dbo].[chat]    Script Date: 27-11-2020 08:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chat](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[chatvalue] [varchar](5000) NULL,
	[phone] [bigint] NULL,
	[datetime] [varchar](50) NULL,
	[uname] [varchar](50) NULL,
	[sendernumber] [bigint] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_chat] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[login]    Script Date: 27-11-2020 08:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[login](
	[lid] [int] IDENTITY(10000,1) NOT NULL,
	[phone] [bigint] NULL,
	[pass] [varchar](50) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[lid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[notification]    Script Date: 27-11-2020 08:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notification](
	[nid] [int] IDENTITY(1,1) NOT NULL,
	[place] [varchar](50) NULL,
	[time] [varchar](50) NULL,
	[phone] [nchar](10) NULL,
	[name] [varchar](50) NULL,
	[date] [varchar](50) NULL,
 CONSTRAINT [PK_notification] PRIMARY KEY CLUSTERED 
(
	[nid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pro]    Script Date: 27-11-2020 08:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pro](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](50) NULL,
	[lname] [varchar](50) NULL,
	[house] [varchar](50) NULL,
	[place] [varchar](50) NULL,
	[img] [varchar](500) NULL,
	[phone] [varchar](50) NULL,
 CONSTRAINT [PK_profile] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
